.App {
  text-align: center;
  background-color: darkmagenta;
  color: white;
  

}
a{
  color: white;
}

button{
  color: white;
            border-radius: 4px;
            /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
            background: rgb(79, 66, 221); /* this is a light blue */
            font-size: large;
 
}

html{
  background-color: darkmagenta;
  background-image: url("https://cdn.getyourguide.com/img/tour_img-1096032-148.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
